* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding-left: 10%;
    padding-right: 10%;
    font-family: sans-serif;
    position: absolute;
}

header div{
 display: flex;
 justify-content: space-between;
 margin-top: 4px;
 flex: 80%;
 flex-wrap: wrap;


}
header  hgroup h1{
    display: block;
    font-weight: 950;
    letter-spacing: 2px;
    

}
header div img {
    width: 180px;
    transform: rotate(-15deg);
    flex: 20%;
    padding-top: 20px;
    padding-left: 20px;
}

#about h3, hgroup h2, #contact h3, .experience-institution, .contact-skype .contact-value,.contact-type{
    display: none;
}
#about p{
    position: absolute;
    top: 100px;
    width: 60%;
    border-top: 1px solid rgb(167, 164, 164);
    padding-top: 10px;
    color: rgb(167, 164, 164);
    font-style: italic;
}

h3{
    font-style: italic;
    font-weight: 1000;
    border-right: 2px solid #999;
    
}


.skill {
    margin: 4px;
    background-color: darkcyan;
    color: white;
    padding: 5px;
    width: 130px;
    display: flex;
    justify-content: space-between;

}

.skill[data-skill="5"]::after {
    content: "★★★";
    float: right;
}

.skill[data-skill="6"]::after {
    content: "★★★";
    float: right;
}

.skill[data-skill="3"]::after {
    content: "★★";
    float: right;
}

.skill[data-skill="1"]::after {
    content: "★";
    float: right;
}

.skill[data-skill="9"]::after {
    content: "★★★★★";
    float: right;
}

.skill[data-skill="7"]::after {
    content: "★★★★";
    float: right;
}
.skills-primary {
    display: flex;


}
.skills-secondary{
    display: flex;

}
.skills-primary .skill {
    font-size: 18px;
}
.skills-primary {
    align-self: flex-start;

}
.skills-secondary {
    align-self: flex-start;


}
.skills-secondary .skill {
    font-size: 12px;
}


.content div {
    margin-left: 20px; 
    display: flex;
    flex-wrap: wrap;

}
 .content div h4{
    flex-basis: 50%;
}
.content div .experience-details {
margin-bottom: 30px;
margin-left: 480px;
}
.content div p {
    flex-basis: 100%;
    margin-bottom: 10px;
}
ul {
    margin-left: 50px;

}
.experience-date, .experience-location{
    font-size: 1.2rem;
    color: #999;
}
.experience-type {
    color: darkcyan;
    font-weight: 600;
    font-size: 1.2rem;
}
.content > section:not(:first-child){
    display: grid;
    grid-template-columns: 150px auto;
    row-gap: 10px;
    
}
.content > section:not(:first-child) h3 {
    grid-row-end: span 2;
}
section {
    margin-bottom: 20px;
}
#contact {
    display: block;
    justify-content: center;
    
}
.contacts{
    display: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
#contact a{
    color: transparent; 
    margin-left: 20px;
}
.contact-value {
    padding-top: 50px;
}

.contact-email {
    background-image: url(../images/email.png);
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;

    
}
.contact-phone{
    background-image: url(../images/phone.png);
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    
}
.contact-github {
    background-image: url(../images/github.png);
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    
}
.contact-facebook {
    background-image: url(../images/facebook.png);
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    
}

@media screen and (max-width:760px) {
    img {
        display: none;
    }
    .content > section:not(:first-child){
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
        
    }
    #compitencies h3 {
        margin-bottom: 400px;
    }
    body{
        margin: 1%;
        padding: 1%;
        align-items: center;
    }
    h3 {
        display: inline-block;
        text-decoration: underline;
        border: none;
    }
    .experience-details {
        width: 50%;
    }

    #about::before {
        content: "";
        width: 100px;
        display: block;
        height: 200px;
    }
}


